.card {
    width: 300px;
    height: 170px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family
    background: rgb(110,205,233);
background: linear-gradient(90deg, rgba(110,205,233,1) 13%, rgba(61,157,194,1) 100%, rgba(66,146,182,1) 100%, rgba(82,198,237,1) 100%);
}
.one {

}
.two {
    font-size: 1.5em;
    font-weight: 500;
}
.three {

}
.bubble {

}
svg {
    fill: white;
}