.one {
    background-color: aqua;
    position: relative;
    top: 0;
}
.two {
    background-color: bisque;
    position: fixed;
    right: 0;
    top: 0;
}
.three {
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    right: 0;
}
.four {
    background-color: brown;
    position: fixed;
    left: 0;
    bottom: 0;
}
div {
    display: inline-block;
    height: 100px;
    width: 100px;
}